body {
  background-color: whitesmoke;
  margin: 100px ;
  text-align: center;
  color: blueviolet;
  
}

h1{
  font-size: 21px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
